.header{
    background-color: map-get($colores, color-principal);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    @extend %grid-center;
   
}

.logobanda{
    background-color: map-get($colores, color-principal);
    width: fit-content;
    justify-content: center;
}

.logobanda img{
    width: 20rem;
    @extend %flex-center;
    animation-name: rotacion;
    animation-duration: 5s;
    animation-delay: 2s;
}

.nav-link{
    color: map-get($colores, $color-secundario);
}

.imagenBg{
    height: 80rem;
    background-image: url("./imagenes/imagenbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:map-get($colores, color-principal);
    margin: 0%;
    padding: 0%;
    display: flex;
}
.footer{
    background-color: map-get($colores, color-principal);
}
.footer__links{
  @extend %grid-center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer__links img {
   width: 40px;
   margin: 5px;
   padding: 2px;
}