.header{
    background-color: $color-principal;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.logobanda{
    background-color: $color-principal;
    width: fit-content;
    justify-content: center;
}

.logobanda img{
    width: 20rem;
    display: flex;
    justify-content: center;
    animation-name: rotacion;
    animation-duration: 5s;
    animation-delay: 2s;
}

.nav-link{
    color: white;
}

.imagenBg{
    height: 80rem;
    background-image: url("./imagenes/imagenbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:$color-principal;
    margin: 0%;
    padding: 0%;
    display: flex;
}