body{
    background-color: map-get($colores, color-principal);
}
.header{
    background-color: map-get($colores, color-principal);   
}
.navbar{
    display: flex;
    justify-content: center;
}
.centrado{
    margin: 0 auto;
}

.logobanda{
    background-color: map-get($colores, color-principal);
}

.logobanda img{
    width: 50rem;
    margin: 0 auto;
    @extend %flex-center;
    @media (max-width: 420px) {
        width: 80%;
        margin: 0 auto;
        
    }
}

.nav-link{
    color: map-get($colores, color-secundario);
}

.imagenBg{
   @extend %flex-center;
}
.imagenBg img{
    height: auto;
    width: 50rem;
    @media (max-width: 420px) {
        height: auto;
        width: 100%;
        
        
    }
}
.footer{
    background-color: black;
}
.footer__links{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.footer__links img {
   width: 40px;
   margin: 5px;
   padding: 2px;
}

