.biografia{
    margin: 0 auto;
    width: 70%;
    background-color: map-get($colores, color-principal)
}
.biotitulo{
    color: map-get($colores, color-secundario);
    text-align: center;
    font-size: map-get($tamanio-tipografico, titulos);
}
.biotext{
    color: map-get($colores, color-secundario);
    text-align: justify;
}
.fondoint{
    background-color: rgb(67, 67, 67);
}
.cardfondo{
    background-color: rgb(144, 142, 142);
}
