.bio{
    background-color: map-get($colores, color-principal);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 50% 10%;
}
.title{
    font-size: map-get($tamanio-tipografico, titulos);
    color: map-get($colores, $color-secundario);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.bio img{
    width: 50%;
    position: relative;
    margin-left: 25%;
    margin-bottom: 20%;
}
.bio p{
    text-align: center;
    font-size: map-get($tamanio-tipografico, parrafos);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: map-get($colores, color-principal);
    background-color: map-get($colores, $color-secundario);
}
.card{
    margin: 0 auto;
}