.fechas{
    color: map-get($colores, color-secundario);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: map-get($tamanio-tipografico, titulos);
    text-align: center;
    margin: 10px;

}